APP_NAME="BookHive Dashboard (Docker)"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DOCKER_AUTO_MIGRATE=true
DOCKER_AUTO_SEED=false

SUPER_ADMIN_NAME="Demo Admin"
SUPER_ADMIN_EMAIL="demo@example.com"
SUPER_ADMIN_PASSWORD=CHANGE_ME_FOR_LOCAL_DOCKER
